:root{
    --primary-blue: #003366;
    --primary-purple: #8A57BC;
    --max-width: 1300px;
    --min-height: 600px;
}

/* Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

button:focus{
    outline: none ;
}

.blue_txt{
    color: var(--primary-blue);
}

.white_txt{
    color: #fff;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
    text-align: center;
}

h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}

h5{
    font-size: 1em;
}

p{
    text-align: justify;
}


/* Utilities */
.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue_btn{
    background-color: var(--primary-blue);
    transition: 0.3s ease-in-out;
}

.blue_btn:hover{
    background-color: #328e99;
}

.white_btn{
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.white_btn:hover{
    background-color: #328e99;
    color: #fff;

}

.purple_btn{
    transition: 0.3s ease-in-out;
}

.purple_btn:hover{
    background-color: #328e99;
    color: #fff;
}



/* Header */
.header_container{
    background-color: var(--primary-blue);
}

#header_div{
    margin: 0 auto;
    justify-content: flex-end;
    max-width: var(--max-width);
}

.header_div_content{
    flex-wrap: wrap;
    justify-content: inherit;
}

.header_div_content h4{
    font-size: 1em;
} 

.acc_cta{
    padding: 1em 0;
    padding-right: 1em;
}

.acc_cta h4{
    padding:0 0.5em;
    margin: 0;
}

.acc_cta #login{
    border-right: 3px solid #F8F8FA;
}

.landing_container{
    background-color: #8A57BC;
}

.landing{
    min-height: var(--min-height);
    padding: 2em;
    max-width: var(--max-width);
    margin: 0 auto;
}

.socials{
    margin-right: 2em;
}

.socials img{
    margin:0 1.2em
}


/* Landing */
.nav{
    justify-content: space-between;
    padding:0 0 2em 0;
}

.title_div{
    justify-content: space-between;
}

.title_div_text{
    margin-left: 0.5em;
    align-items: flex-start;
}

.title_div_text h4, .title_div_text h5{
    margin: 0;
}

.nav_links_div{
    justify-content: flex-end;
    margin-right: 2em;
}

.nav_links_div ul{
    justify-content: space-between;
}

.nav_links_div ul li{
    flex: 1;
    list-style: none;
    transition: 0.2s ease-in;
}

.nav_links_div ul li a{
    text-decoration: none;
    margin: 0 1em;
    text-align: left;
}

.nav_links_div ul li:hover{
    transform: scale(1.1);
}


#sign_up_button{
    border-radius: 0.5em;
    box-shadow: none;
    border: 0;
    font-weight: bold;
    font-size: 0.9em;
    padding:0.5em 0.8em;
}

.half_content > img{
    min-width: 20em;
    max-width: 50%;
}

.titles{
    max-width: 50%;
}

.titles > * {
    margin: 0.4em 0;
}

.titles h4{
    font-size: 1.2em;
}


.sub, .play{
    border-radius: 0.5em;
    box-shadow: none;
    border: 0;
    margin: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1em;
}

.sub{
    padding:1.2em 3em;
    text-transform: uppercase;
}

.play{
    padding:1.2em 1em;
    justify-content: space-between;
}

.play img{
    margin-right: 1em;
}

/* Info Page */
.info_page_container{
    background: linear-gradient(
        180deg,
        rgba(138, 87, 188, 0.2) 0%, 
        rgba(248, 248, 250) 55.82%, 
        rgba(138, 87, 188, 0.2) 100%
        );
}

.info_text{
    align-items: flex-start;
}

.info_text h2{
    text-align: left;
}

.info_page{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5em 1em 2em 1em;

}

.info_page img{
    width: 40%;
}

.btn_with_icon{
    border-radius: 0.5em;
    box-shadow: none;
    border: 0;
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: 1.1em;

    padding:1.2em 1em;
    width: 10em;
    background-color: #003366;
    justify-content: space-between;
    font-size: 1.3em;
}

.btn_with_icon img{
    width: 40px;
}

/* Services page */
.services_container{
    margin: 2em 0em;
}

.services{
    max-width: var(--max-width);
    margin: auto;
}

.card_holder{
    margin-top: 2em;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center; */
}

.card{
    background-color: #F8F8FA;
    align-items: flex-start;
    justify-content: space-between;
    padding:25px 10px 10px 10px;
    margin: 1em;
    max-width: 275px;
    height: 487px;
}

.icon_holder{
    margin: 0 auto 10px auto;
    padding: 20px;
    background-color:#E0D4D4;
}

.card_items{
    list-style-image: url("./../images/Ellipse\ 9.png");
}

.card_items li{
    margin: 15px 25px;
    font-weight: 600;
}

.view_full{
    padding:0.5em 1em;
    margin-left: 20px;
}


/* Pricing Page */
.pricing_container{
    margin:2em 1em;
}

.pricing{
    max-width: var(--max-width);
    margin: 0 auto;
}

.plan{
    background-color: #F8F8F4;
    padding:20px 20px 10px 20px;
    margin: 10px;
    min-height: 350px;
    justify-content: space-between;
    width: 220px;
}
.plan h3{
    align-self: flex-start;
    border-bottom: 5px solid var(--primary-purple);
}

.plan p{
    text-align: center;
}

.start_btn{
    padding:10px 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    border: 0;
    background-color: #8A57BC80;
}


/* Contact Page */
.contact_container{
    background-color: #8A57BC08;
    padding: 2em 1em;
}

.contact_page{
    max-width: var(--max-width);
    margin:0 auto;
}


/* Pre Testimonial */
.testimonial_header_container{
    padding: 1em 1em;
}
.testimonial_header{
    margin: 0 auto;
    text-align: center;
}

.testimonial_header h2,
.testimonial_header h3,
.testimonial_header h5{
    margin: 0.5em 0;
}

/* Testimonial */
.testimonial_container{
    padding: 1em 1em;
    
}

.testimonial_content{
    max-width: var(--max-width);
    margin: 0 auto;
}

.testimonial_images{
    margin: 0 1em;
    max-width: 500px;
}

.testimonial_images img{
    max-width: 120px;
}

.profile_pic{
    margin: 20px;
    background-color: #F8F8FA;
    border: 10px solid #F8F8FA;
    border-radius: 50%;
}

.testimonial_quotes{
    max-width: 400px;
}

.quote{
   font-size: 1.2em;
}


/* Footer */
.footer_container{
    background-color: #8A57BC;
    padding: 2em 2em 4em 2em;
}

.footer{
    max-width: var(--max-width);
    margin: 0 auto;
}

.footer_sections{
    align-items: flex-start;
}

.footer_section{
    max-width: 300px;
    max-height: 700px;
    padding: 1em;
    align-items: flex-start;
}

.footer_section > *{
    padding: 1em 0;
}

.footer_section ul{
    list-style-type: none;
}

.footer_section ul li{
    padding: 0.5em 0;
    transition: 0.2s ease-in;
}

.footer_section ul li a{
    text-decoration: none;
}

.footer_section ul li:hover{
    transform: scale(1.1);
}

.footer_section h5{
    font-weight: lighter;
}

.footer_section span{
    display: flex;
}

.footer_section span img{
    width: 20px;
    margin-right: 1em;
}

.footer_socials{
    min-width: 80%;
    justify-content: space-between;
}

.sub_footer_container{
    padding: 1em;
    background-color: var(--primary-blue);
}

.sub_footer{
    max-width: var(--max-width);
    margin: auto;
    justify-content: space-between;
}

