:root{
    --primary-blue: #003366;
    --primary-purple: #8A57BC;
    --max-width: 1300px;
    --min-height: 600px;
}

/* Global */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

button:focus{
    outline: none ;
}

h2{
    font-size: 2.5em;
    color: var(--primary-blue);
    text-align: center;
}

h3{
    font-size: 2em;
    color: var(--primary-blue);
}


/* Header */
.header_container{
    background-color: #003366;
}

#header_div{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: var(--max-width);
}

.header_div_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.acc_cta{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0;
    padding-right: 1em;
}

.acc_cta h4{
    padding:0 0.5em;
    margin: 0;
}

.acc_cta #login{
    border-right: 3px solid #F8F8FA;
}

.landing_container{
    background-color: #8A57BC;
}

.landing{
    min-height: var(--min-height);
    color: #fff;
    padding: 1em 0.5em 0.5em 2em;
    max-width: var(--max-width);
    margin: 0 auto;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 2em;
}

.socials img{
    margin:0 1.2em
}


/* Landing */
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title_div_text{
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.title_div_text h4, .title_div_text h5{
    margin: 0;
}

.nav_links_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;
}

.nav_links_div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav_links_div ul li{
    flex: 1;
    list-style: none;
}

.nav_links_div ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 1em;
    text-align: left;
}

#sign_up_button{
    border-radius: 0.5em;
    box-shadow: none;
    border: 0;
    font-weight: bold;
    font-size: 0.9em;
    padding:0.5em 0.8em;
    color: #003366;
}

.half_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.half_content > img{
    min-width: 20em;
    max-width: 60%;
}

.titles h1{
    font-size: 3em;
}

.titles_btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: flex-end; */
}

#sub, #play{
    border-radius: 0.5em;
    box-shadow: none;
    border: 0;
    margin: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1em;
}

#sub{
    padding:1.2em 3em;
    color: #003366;
    text-transform: uppercase;
}

#play{
    padding:1.2em 1em;
    color: #fff;
    background-color: #003366;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#play img{
    margin-right: 1em;
}

/* Info Page */
.info_page_container{
    background: linear-gradient(
        180deg,
        rgba(138, 87, 188, 0.2) 0%, 
        rgba(248, 248, 250) 55.82%, 
        rgba(138, 87, 188, 0.2) 100%
        );
}

.info_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #003366;
}

.info_page{
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 5em 1em 2em 1em;

}

.info_page img{
    width: 40%;
}

.btn_with_icon{
    border-radius: 0.5em;
    box-shadow: none;
    border: 0;
    margin: 1rem 0rem;
    font-weight: bold;
    font-size: 1.1em;

    padding:1.2em 1em;
    width: 10em;
    color: #fff;
    background-color: #003366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
}

.btn_with_icon img{
    width: 40px;
}

/* Services page */
.services_container{
    margin: 2em 0;
}

.services{
    width: var(--max-width);
    margin: auto;
    color: var(--primary-blue);
}

.card_holder{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #F8F8FA;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding:25px 10px 10px 10px;
}

.icon_holder{
    margin: 0 auto 10px auto;
    padding: 20px;
    background-color:#E0D4D4;
}

.card_items{
    list-style-image: url("./../images/Ellipse\ 9.png");
}

.card_items li{
    margin: 15px 25px;
    font-weight: 600;
}

.view_full{
    padding:0.5em 1em;
    margin-left: 20px;
}


/* Pricing Page */
.pricing_container{
    margin:2em 0;
}

.pricing{
    max-width: var(--max-width);
    margin: 0 auto;
}

.pricing_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.plan{
    background-color: #F8F8F4;
    padding:20px 20px 10px 20px;
    margin: 10px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}
.plan h3{
    align-self: flex-start;
    border-bottom: 5px solid var(--primary-purple);
}

.start_btn{
    padding:10px 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    border: 0;
    color: var(--primary-blue);
    background-color: #8A57BC80;
}


/* Contact Page */
.contact_container{
    background-color: #8A57BC08;
    padding: 2em 0;
}

.contact_page{
    max-width: var(--max-width);
    margin:0 auto;
}

.contact_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

